<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- <title>{{ config('app.name', 'Laravel') }}</title> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- Fonts -->
  <!-- <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">
    <link href="{{asset('css/app.css')}}" rel="stylesheet"> -->

  <!-- Scripts -->
  <!-- {{-- @vite(['resources/sass/app.scss', 'resources/js/app.js'])
    --}} -->
</head>

<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-success shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand text-white fs-3" href="/">Biodiversité</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Observations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Sites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Espèces</a>
              </li>
            </ul>
            <div class="d-flex" role="search">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="{{route('login')}}">Se
                    connecter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="py-4">

      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="about.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="about.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="about.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <div class="col-md-10 mx-auto">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <div>
                  <p><span>label: </span> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                      dignissimos accusantium quas provident nostrum similique n</span></p>
                  <p><span>label: </span> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                      dignissimos accusantium quas provident nostrum similique n</span></p>
                  <p><span>label: </span> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                      dignissimos accusantium quas provident nostrum similique n</span></p>
                  <p><span>label: </span> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                      dignissimos accusantium quas provident nostrum similique n</span></p>
                  <p><span>label: </span> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                      dignissimos accusantium quas provident nostrum similique n</span></p>
                  <p><span>label: </span> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                      dignissimos accusantium quas provident nostrum similique n</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-10 mx-auto">
            <div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                    type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                  tabindex="0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptas minus libero soluta neque fuga
                  officiis praesentium, voluptates repudiandae distinctio, quae asperiores itaque laboriosam. Veniam vitae
                  sapiente perspiciatis et sit!
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                  tabindex="0">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt id ab laudantium, autem numquam quasi
                  labore porro odit, similique, alias praesentium recusandae maxime quibusdam molestias nemo nihil eius
                  eveniet tempore?
                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                  tabindex="0">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat error similique soluta odit
                  consectetur totam aperiam necessitatibus, fugit quo aliquid deleniti commodi? Temporibus laborum, quidem
                  vero iusto esse explicabo incidunt.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
</body>

</html>